
<style>

  .hidden {
    display: none;
  }

  .show {
    display: block;
  }
</style>

<h3 id="welcome-message">Welcome, {{user}} !</h3>


{{#no_challenges}}
<h5>Your Challenges</h5>
<p class="message">Unfortunately there are no challenges for your profile yet.</p>
<!-- <a href="/user/1/challenge/add"><button id="addChallenge">add a challenge!</button></a> -->
 <a href="/user/1/challenge/add"><button type="button" id="add_a_challenge" class="btn btn-success">Add a challenge!</button></a>

{{/no_challenges}}

{{#completed}}
<div id="your-challenges">
  <h5><strong>Your Challenges</strong></h5>
</div>
<p id="congrats-message">Well done, <strong>{{../user}}</strong>, you have completed <strong>{{completed}}</strong> challenges! <br> You have earned a total of <strong>{{points}}</strong> points!</p>

<a href="/user/1/challenge/add"><button><strong>Do another challenge!</strong></button></a>

{{/completed}}

{{#challenges}}

<div id="clock">
  <h2>Your Challenge Starts In</h2>
    <center>
    <table id="table" border="0">
        <tr>
            <td align="center" colspan="6"><div class="numbers" id="count2" style="padding: 10px; "></div></td>
        </tr>
        <tr id="spacer1">
            <td align="center" ><div class="title" ></div></td>
            <td align="center" ><div class="numbers" id="dday"></div></td>
            <td align="center" ><div class="numbers" id="dhour"></div></td>
            <td align="center" ><div class="numbers" id="dmin"></div></td>
            <td align="center" ><div class="numbers" id="dsec"></div></td>
            <td align="center" ><div class="title" ></div></td>
        </tr>
        <tr id="spacer2">
            <td align="center" ><div class="title" ></div></td>
            <td align="center" ><div class="title" id="days">Days</div></td>
            <td align="center" ><div class="title" id="hours">Hours</div></td>
            <td align="center" ><div class="title" id="minutes">Minutes</div></td>
            <td align="center" ><div class="title" id="seconds">Seconds</div></td>
            <td align="center" ><div class="title" ></div></td>
        </tr>
    </table>
    </center>

</div>


<h2> Your challenge for today... </h2>
<p class="message" class="hidden">{{{message}}}</p>
<center>
<a href="/user/1/challenge/complete"><button id="complete" class="btn-success hidden" >Challenge Completed</button></a>
<a href="/user/1/challenge/cancel"><button class="btn-danger">Stop Challenge</button></a>
</center>
<script type="text/javascript" >

var montharray=new Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec");

//var tz= +2;            //—>Offset for your timezone in hours from UTC (see http://wwp.greenwichmeantime.com/index.htm to find the timezone offset for your location)


var countdown = function(yr,m,d,hr,min,stopMessage){
theyear=yr;themonth=m;theday=d;thehour=hr;theminute=min;
var today=new Date();
var todayy=today.getYear();
if (todayy < 1000) {
todayy+=1900; }
var todaym=today.getMonth();
var todayd=today.getDate();
var todayh=today.getHours();
var todaymin=today.getMinutes();
var todaysec=today.getSeconds();
var todaystring1=montharray[todaym]+" "+todayd+", "+todayy+" "+todayh+":"+todaymin+":"+todaysec;
var todaystring=Date.parse(todaystring1)/*+(tz*1000*60*60)*/;
var futurestring1=(montharray[m-1]+" "+d+", "+yr+" "+hr+":"+min);
var futurestring=Date.parse(futurestring1)/*-(today.getTimezoneOffset()*(1000*60))*/;
var dd=futurestring-todaystring;
var dday=Math.floor(dd/(60*60*1000*24)*1);
var dhour=Math.floor((dd%(60*60*1000*24))/(60*60*1000)*1);
var dmin=Math.floor(((dd%(60*60*1000*24))%(60*60*1000))/(60*1000)*1);
var dsec=Math.floor((((dd%(60*60*1000*24))%(60*60*1000))%(60*1000))/1000*1);
if(dday<=0&&dhour<=0&&dmin<=0&&dsec<=0){

  document.querySelector("#complete").classList.remove("hidden");
  document.querySelector("#clock").classList.add("hidden");
  //document.querySelector("#message").classList.add("show");

  document.querySelector("#message").classList.remove("hidden");
  document.querySelector("#message").classList.add("show");

document.getElementById('count2').innerHTML=stopMessage;
document.getElementById('count2').style.display="block";
document.getElementById('count2').style.width="390px";
document.getElementById('dday').style.display="none";
document.getElementById('dhour').style.display="none";
document.getElementById('dmin').style.display="none";
document.getElementById('dsec').style.display="none";
document.getElementById('days').style.display="none";
document.getElementById('hours').style.display="none";
document.getElementById('minutes').style.display="none";
document.getElementById('seconds').style.display="none";
document.getElementById('spacer1').style.display="none";
document.getElementById('spacer2').style.display="none";
return;
}
else {
document.getElementById('count2').style.display="none";
document.getElementById('dday').innerHTML=dday;
document.getElementById('dhour').innerHTML=dhour;
document.getElementById('dmin').innerHTML=dmin;
document.getElementById('dsec').innerHTML=dsec;
setTimeout("countdown(theyear,themonth,theday,thehour,theminute)",1000);
}
}


  countdown({{year}}, {{month}},{{day}},{{hour}},{{minute}}, "Now!");

</script>

{{/challenges}}
